.header {
  text-align: center;
  font-size: 30px;
  color: grey;
  height: auto;
  border-radius: 10px;
  background-color: #ff9933;
  padding: 10px;
  font-style: italic;
}

.tagline {
  text-align: center;
  font-size: 30px;
  color: white;
  height: auto;
  border-radius: 10px;
  padding: 10px;
  background-color: #138808;
  margin-top: 50px;
  font-style: italic;
}
.footer {
  border-radius: 10px;
  text-align: center;
  font-size: 90px;
  color: white;
  position: relative;
  background: #ff9933;
  top: 30px;
  padding: 15px;
  height: auto;
  font-style: italic;
}
.created_by {
  font-size: 20px;
}

@media (min-width: 300px) {
  
}
